.products-page {
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 2em;
}
.product-list {
  margin-top: 3em;
}
.product-list > .product {
  display: inline-block;
  width: 15em;
  height: 10em;
  padding-top: 2em;
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.315);
  transition: 1s;
  margin: 2em;
  border-radius: 1em;
}

.product-list > .product:hover {
  transform: translate(0, -1em);
}
